@font-face {
	font-family: "Klavika Web Regular Condensed";
	src: url("9ea60840bd8fe427a00ded2338da6211.eot");
	/* IE9*/
	src: url("9ea60840bd8fe427a00ded2338da6211.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
	url("9ea60840bd8fe427a00ded2338da6211.woff2") format("woff2"), /* chrome、firefox */
	url("9ea60840bd8fe427a00ded2338da6211.woff") format("woff"), /* chrome、firefox */
	url("9ea60840bd8fe427a00ded2338da6211.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
	url("9ea60840bd8fe427a00ded2338da6211.svg#Klavika Web Regular Condensed") format("svg");
	/* iOS 4.1- */
}

form {
	font-family: "Klavika Web Regular Condensed";
}

legend {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	text-transform: uppercase;
	font-weight: bold;
}

fieldset {
	display: flex;
	

}

input {
	width: 60%;
	height: 1.5rem;
	margin-bottom: 2rem;

}

input:valid {
	border-color: green;
	
}

input:invalid {
	border-color: red;
}


button {
	font-family: "Klavika Web Regular Condensed";
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.8rem;
	border-color: lightgray;
	background-color: white;
	width: 10rem;
	height: 3rem; 
}

button:hover {
	color: white;
	background-color: black;
}




